flows (6).json
[{"id":"204aaa2.8e8c956","type":"tab","label":"Flow 3","disabled":false,"info":"var mr = global.get('mr')\nvar mt = global.get('mt')\nvar mp = global.get('mp')\nvar ma = global.get('ma')\nvar ms = global.get('ms')\n\nvar token=msg.payload.access_token\nvar instance_id=\"25fa0cdc-6052-4629-abe2-24efb1b4e743\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"mean_radius\", \"mean_texture\", \"mean_perimeter\", \"mean_area\", \"mean_smootheness\"], \"values\": [[mr,mt,mp,ma,ms]]}\nreturn msg;"},{"id":"81c3cc41.4efda","type":"inject","z":"204aaa2.8e8c956","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":180,"wires":[["88bdf42e.9ead18"]]},{"id":"1e6dc237.a69bee","type":"ui_form","z":"204aaa2.8e8c956","name":"","label":"","group":"82bd947a.1531e8","order":0,"width":0,"height":0,"options":[{"label":"mean_radius","value":"mr","type":"number","required":true,"rows":null},{"label":"mean_texture","value":"mt","type":"number","required":true,"rows":null},{"label":"mean_perimeter","value":"mp","type":"number","required":true,"rows":null},{"label":"mean_area","value":"ma","type":"number","required":true,"rows":null},{"label":"mean_smoothness","value":"ms","type":"number","required":true,"rows":null}],"formValue":{"mr":"","mt":"","mp":"","ma":"","ms":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":140,"y":360,"wires":[["88bdf42e.9ead18"]]},{"id":"88bdf42e.9ead18","type":"function","z":"204aaa2.8e8c956","name":"Pre Token","func":"global.set(\"mr\",msg.payload.mr)\nglobal.set(\"mt\",msg.payload.mt)\nglobal.set(\"mp\",msg.payload.mp)\nglobal.set(\"ma\",msg.payload.ma)\nglobal.set(\"ms\",msg.payload.ms)\nvar apikey=\"LnXElsy5R180kQtUwOtKZvMfDa-tDDaRXjJ3zOHeuDTZ\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":280,"wires":[["89f7a63e.c5bf28"]]},{"id":"89f7a63e.c5bf28","type":"http request","z":"204aaa2.8e8c956","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":260,"wires":[["bca5ed7c.22d9e"]]},{"id":"bca5ed7c.22d9e","type":"function","z":"204aaa2.8e8c956","name":"Pre Prediction","func":"var mr = global.get('mr')\nvar mt = global.get('mt')\nvar mp = global.get('mp')\nvar ma = global.get('ma')\nvar ms = global.get('ms')\n\nvar token=msg.payload.access_token\nvar instance_id=\"25fa0cdc-6052-4629-abe2-24efb1b4e743\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"mean_radius\", \"mean_texture\", \"mean_perimeter\", \"mean_area\", \"mean_smoothness\"], \"values\": [[mr,mt,mp,ma,ms]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":220,"wires":[["3122f809.b03098"]]},{"id":"3122f809.b03098","type":"http request","z":"204aaa2.8e8c956","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/2c18448b-d78a-44dd-bc12-1a76b7b24eed/predictions","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":180,"wires":[["2ca51bbf.979794","5b46f5ae.28052c"]]},{"id":"5b46f5ae.28052c","type":"function","z":"204aaa2.8e8c956","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":40,"wires":[["a8818986.22e078","ca8b949d.93fdd8"]]},{"id":"a8818986.22e078","type":"debug","z":"204aaa2.8e8c956","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":900,"y":60,"wires":[]},{"id":"2ca51bbf.979794","type":"debug","z":"204aaa2.8e8c956","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":840,"y":360,"wires":[]},{"id":"ca8b949d.93fdd8","type":"ui_text","z":"204aaa2.8e8c956","group":"a7c69a4f.580338","order":4,"width":0,"height":0,"name":"","label":"Diagnosis","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":460,"wires":[]},{"id":"82bd947a.1531e8","type":"ui_group","z":"","name":"Default","tab":"25677401.1369cc","order":1,"disp":true,"width":"6","collapse":false},{"id":"a7c69a4f.580338","type":"ui_group","z":"","name":"Default","tab":"84cc880d.5581a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"25677401.1369cc","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"84cc880d.5581a8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]